<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="USB_CAN_Interface.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <USB_CAN_Interface.Properties.Settings>
            <setting name="lastFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="imBlind" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ascii" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="notes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="titleWindow" serializeAs="String">
                <value>CAN-X (Beta)</value>
            </setting>
        </USB_CAN_Interface.Properties.Settings>
    </userSettings>
</configuration>